In [1]:
import pandas as pd

file = pd.read_excel("IndStartUpFunding.xlsx")

In [2]:
file

,Sr No,Date dd/mm/yyyy,Startup Name,Industry Vertical,SubVertical,City Location,Investors Name,InvestmentType,Amount in USD,Remarks
0,1,2020-01-09 00:00:00,BYJU’S,E-Tech,E-learning,Bengaluru,Tiger Global Management,Private Equity Round,200000000,NaN
1,2,2020-01-13 00:00:00,Shuttl,Transportation,App based shuttle service,Gurgaon,Susquehanna Growth Equity,Series C,8048394,NaN
2,3,2020-01-09 00:00:00,Mamaearth,E-commerce,Retailer of baby and toddler products,Bengaluru,Sequoia Capital India,Series B,18358860,NaN
3,4,2020-01-02 00:00:00,https://www.wealthbucket.in/,FinTech,Online Investment,New Delhi,Vinod Khatumal,Pre-series A,3000000,NaN
4,5,2020-01-02 00:00:00,Fashor,Fashion and Apparel,Embroiled Clothes For Women,Mumbai,Sprout Venture Partners,Seed Round,1800000,NaN
...,...,...,...,...,...,...,...,...,...,...
3039,3040,2015-01-29 00:00:00,Printvenue,NaN,NaN,NaN,Asia Pacific Internet Group,Private Equity,4500000,NaN
3040,3041,2015-01-29 00:00:00,Graphene,NaN,NaN,NaN,KARSEMVEN Fund,Private Equity,825000,Govt backed VC Fund
3041,3042,2015-01-30 00:00:00,Mad Street Den,NaN,NaN,NaN,"Exfinity Fund, GrowX Ventures.",Private Equity,1500000,NaN
3042,3043,2015-01-30 00:00:00,Simplotel,NaN,NaN,NaN,MakeMyTrip,Private Equity,NaN,"Strategic Funding, Minority stake"
3043,3044,2015-01-31 00:00:00,couponmachine.in,NaN,NaN,NaN,UK based Group of Angel Investors,Seed Funding,140000,NaN

In [3]:
file.columns

Index(['Sr No', 'Date dd/mm/yyyy', 'Startup Name', 'Industry Vertical',
       'SubVertical', 'City  Location', 'Investors Name', 'InvestmentType',
       'Amount in USD', 'Remarks'],
      dtype='object')

In [4]:
#drop column
file.drop(columns=["SubVertical", "Remarks", "Investors Name"], inplace=True)

In [5]:
file

,Sr No,Date dd/mm/yyyy,Startup Name,Industry Vertical,City Location,InvestmentType,Amount in USD
0,1,2020-01-09 00:00:00,BYJU’S,E-Tech,Bengaluru,Private Equity Round,200000000
1,2,2020-01-13 00:00:00,Shuttl,Transportation,Gurgaon,Series C,8048394
2,3,2020-01-09 00:00:00,Mamaearth,E-commerce,Bengaluru,Series B,18358860
3,4,2020-01-02 00:00:00,https://www.wealthbucket.in/,FinTech,New Delhi,Pre-series A,3000000
4,5,2020-01-02 00:00:00,Fashor,Fashion and Apparel,Mumbai,Seed Round,1800000
...,...,...,...,...,...,...,...
3039,3040,2015-01-29 00:00:00,Printvenue,NaN,NaN,Private Equity,4500000
3040,3041,2015-01-29 00:00:00,Graphene,NaN,NaN,Private Equity,825000
3041,3042,2015-01-30 00:00:00,Mad Street Den,NaN,NaN,Private Equity,1500000
3042,3043,2015-01-30 00:00:00,Simplotel,NaN,NaN,Private Equity,NaN
3043,3044,2015-01-31 00:00:00,couponmachine.in,NaN,NaN,Seed Funding,140000

In [6]:
file["Amount in USD"] = pd.to_numeric(file["Amount in USD"], errors="coerce")

In [7]:
file.dropna(inplace=True)

In [8]:
print(file)

      Sr No      Date dd/mm/yyyy                  Startup Name  \
0         1  2020-01-09 00:00:00                        BYJU’S
1         2  2020-01-13 00:00:00                        Shuttl
2         3  2020-01-09 00:00:00                     Mamaearth
3         4  2020-01-02 00:00:00  https://www.wealthbucket.in/
4         5  2020-01-02 00:00:00                        Fashor
...     ...                  ...                           ...
2867   2868  2015-04-29 00:00:00                       Icertis
2868   2869  2015-04-29 00:00:00                        Tracxn
2870   2871  2015-04-29 00:00:00                      Tradelab
2871   2872  2015-04-29 00:00:00                        PiQube
2872   2873  2015-04-29 00:00:00               Travel Triangle

               Industry Vertical City  Location        InvestmentType  \
0                         E-Tech      Bengaluru  Private Equity Round
1                 Transportation        Gurgaon              Series C
2                     E-commerce      Bengaluru              Series B
3                        FinTech      New Delhi          Pre-series A
4            Fashion and Apparel         Mumbai            Seed Round
...                          ...            ...                   ...
2867   Cloud Enterprise Software      Pune / US        Private Equity
2868  Startup Analytics platform      Bangalore        Private Equity
2870  Financial Markets Software      Bangalore          Seed Funding
2871   Hiring Analytics platform        Chennai          Seed Funding
2872   Online Travel Marketplace          Noida        Private Equity

      Amount in USD
0       200000000.0
1         8048394.0
2        18358860.0
3         3000000.0
4         1800000.0
...             ...
2867      6000000.0
2868      3500000.0
2870       400000.0
2871       500000.0
2872      8000000.0

[1922 rows x 7 columns]

In [9]:
file['Date dd/mm/yyyy'] = pd.to_datetime(file["Date dd/mm/yyyy"], errors='coerce')

/tmp/ipykernel_45180/679124757.py:1: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  file['Date dd/mm/yyyy'] = pd.to_datetime(file["Date dd/mm/yyyy"], errors='coerce')

In [11]:
file.dropna(inplace=True)

In [12]:
file

,Sr No,Date dd/mm/yyyy,Startup Name,Industry Vertical,City Location,InvestmentType,Amount in USD
0,1,2020-01-09,BYJU’S,E-Tech,Bengaluru,Private Equity Round,200000000.0
1,2,2020-01-13,Shuttl,Transportation,Gurgaon,Series C,8048394.0
2,3,2020-01-09,Mamaearth,E-commerce,Bengaluru,Series B,18358860.0
3,4,2020-01-02,https://www.wealthbucket.in/,FinTech,New Delhi,Pre-series A,3000000.0
4,5,2020-01-02,Fashor,Fashion and Apparel,Mumbai,Seed Round,1800000.0
...,...,...,...,...,...,...,...
2867,2868,2015-04-29,Icertis,Cloud Enterprise Software,Pune / US,Private Equity,6000000.0
2868,2869,2015-04-29,Tracxn,Startup Analytics platform,Bangalore,Private Equity,3500000.0
2870,2871,2015-04-29,Tradelab,Financial Markets Software,Bangalore,Seed Funding,400000.0
2871,2872,2015-04-29,PiQube,Hiring Analytics platform,Chennai,Seed Funding,500000.0
2872,2873,2015-04-29,Travel Triangle,Online Travel Marketplace,Noida,Private Equity,8000000.0